<!-- error.ejs
CarPooling Web App
Project by Team CodEureka
Silviya Velani, Student Id: 301167163
Divya Nair, Student Id: 301169854 
Jashan Preet Singh, Student ID: 301170664
Surya Teja Kandru, Student Id: 301109137 
Aritra Roy, Student ID: 301176508 
Copyright © 2021 Centennial College. All rights reserved. -->

<%- include partials/header.ejs %>



<%- include partials/main_nav.ejs %>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>   
